arangodb==0.0.12
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
docopt==0.6.2
elasticsearch==5.4.0
idna==2.6
jedi==0.10.2
keyring==10.4.0
prompt-toolkit==1.0.15
pronto==0.8.0
ptpython==0.41
pyftpsync==1.0.3
Pygments==2.2.0
PyYAML==3.12
requests==2.18.4
six==1.10.0
urllib3==1.22
wcwidth==0.1.7
