certifi==2017.11.5
chardet==3.0.4
click==6.7
elasticsearch==6.0.0
idna==2.6
pronto==0.10.1
python-arango==3.12.1
PyYAML==3.12
requests==2.18.4
six==1.11.0
snakeviz==0.4.2
timy==0.4.0
tornado==4.5.2
urllib3==1.22
